@import "../styles/root.scss";

.wrapper {
  .container {
    .infos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 25px;
      width: 100%;

      h2 {
        font-size: 1.2rem;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        p {
          font-size: 1rem;
          margin-left: 35px;
        }
      }
    }
    .display {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Mui-active{
        
      }
      p {
        margin-left: 35px;
      }
    }
    .account-footer {
      display: flex;
      flex-direction: column;
      gap: 5px;
      h3 {
        color: rgb(222, 3, 3);
      }
      button {
        color: rgb(149, 0, 0);
        background-color: transparent;
        border: none;
      }
      .logout {
        font-size: 1.3rem;
        font-weight: 700;
        color: rgb(212, 1, 1);
      }
    }
  }
}
